.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    background-color: var(--bg-color3);
    width: 96%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.comment-details {
    display: flex;
    justify-content: space-between;
    width: 96%;
    padding: 10px 0;
}

.author {
    font-weight: bold;
    font-size: 1.2em;
}

.time {
    color: var(--text-color2);
}

.comment-body {
    width: 98%;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 1.05em;
}