.Searchbar {
    position: relative;
    width: 58%;
    height: calc(var(--header-height) * .7);
    margin-left: 15px;
    flex-shrink: 5;
}

@media only screen and (max-width: 438px) {
    .Searchbar {
        width: 91vw;
        margin: 0 auto;
    }
}

.Searchbar-icon {
    position: absolute;
    left: 15px;
}

.Searchbar-input {
    height: 100%;
    width: 100%;
    background-color: var(--bg-color3);
    padding-left: calc(var(--header-height) - 3px);
}

.Searchbar-input:hover {
    border: 1px solid var(--color1);
    background-color: var(--bg-color1);
}

.Searchbar-input:focus {
    outline: none;
    border: 1px solid var(--color1);
    background-color: var(--bg-color1);
}