.Header {
    background-color: var(--bg-color1);
    height: var(--header-height);
    border: 1px solid var(--border-color1);
}

.Header-logo {
    height: calc(var(--header-height) * .73);
    margin-left: 20px;
}

.Header-home-btn {
    height: calc(var(--header-height) * .75);
    width: 275px;
    margin-left: 20px;
    position: relative;
}

.Header-home-btn:hover {
    border: 1px solid var(--border-color1);
}

.Header-home-btn-home-icon {
    height: calc(var(--header-height) * .38);
    margin-bottom: 1px;
    margin-left: 10px;
}

.Header-home-btn p {
    margin-left: 10px;
    margin-top: 1px;
}

.Header-home-btn-dropdown-icon {
    position: absolute;
    right: 0;
    margin-right: 10px;
}
