.Header {
    background-color: var(--bg-color1);
    height: var(--header-height);
}

.Header-logo {
    height: calc(var(--header-height) * .68);
    margin-left: 20px;
}

.Header-home-btn {
    height: calc(var(--header-height) * .75);
    width: 275px;
    margin-left: 20px;
    position: relative;
}

.Header-home-btn-home-icon {
    height: calc(var(--header-height) * .38);
    margin-bottom: 2px;
    margin-left: 10px;
}

.Header-home-btn p {
    margin-left: 10px;
}

.Header-home-btn-dropdown-icon {
    position: absolute;
    right: 0;
    margin-right: 10px;
}
