.container {
    position: fixed;
    margin: 0 auto;
    top: var(--header-height);
    z-index: 99;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 1240px;
    background: var(--bg-color1);
    justify-content: space-between;
}

.media {
    margin: 0 auto;
    max-width: 750px;
    max-height: 600px;
}

.comments-section {
    height: 550px;
    overflow: scroll;
}

.go-back-btn {
    position: relative;
    bottom: 20px;
    font-size: 2em;
    padding: 20px 0;
    border: 1px solid;
}