/* >> Reusable rules ----------------------- */
.Post .flex-display {
    display: flex;
}

.Post .flex-horizontal-center {
    justify-content: center;
}

.Post .flex-vertical-center {
    align-items: center;
}

.Post .margin-vertical-center {
    margin: 0 auto;
}

.Post .secondary-font-family {
    font-family: var(--font-family2);   
}

/* >> Main container ----------------------- */
.Post {
    position: relative;
    background-color: var(--bg-color1);
    width: 640px;
    height: fit-content;
    margin-bottom: 10px;
}

/* >> Vote section -------------------------- */
.Post .vote-section {
    flex-direction: column;
    width: 40px;
    min-height: 100%;
    background-color: var(--bg-color3);
}

.Post .vote-section img:first-child {
    padding-top: 5px;
}

.Post .vote-section img {
    width: 19px;
    margin: 5px 0;
}

.Post .vote-section p {
    font-size: .86em;
    font-weight: 700;
    padding-bottom: 2px;
}

/* >> Publishing info -------------------------------------- */
.Post .display-info {
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
}

.Post .publishing-info {
    font-size: .86em;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
}

.Post .publishing-info p {
    margin-left: 4px;
}

.Post .subreddit-pic {
    width: 22px;
}

.Post .subreddit-name {
    font-weight: 700;
}

.Post .publishing-extra-info {
    color: var(--text-color3);
}

/* >> ---------------------------------- */
.Post .title {
    font-size: 1.29em;
    font-weight: 500;
    margin-bottom: 14px;
}

/* >> Content container ---------------------------------- */
.Post .content {
    margin: 0 auto;
    position: relative;
    margin-bottom: 5px;
    max-width: 100%;
    max-height: 512px;
}

/* >> --------------------------------- */
.Post .text-fade {
    position: absolute;
    bottom: 0;
}

/* >> --------------------------------- */
.Post .actions {
    font-size: .86em;
    font-weight: 700;
    margin-bottom: 2px;
    height: 35px;
}

.Post .actions a {
    width: fit-content;
    height: 100%;
}

.Post .actions img {
    width: 18px;
    margin-left: 6px;
}

.Post .actions p {    
    color: var(--text-color3);
    margin-left: 5px;
    margin-right: 10px;
}
