/* >_ Set */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: var(--text-color1);
}

body {
  margin: 0;
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

button, input {
  background-color: var(--bg-color1);
  border: none;
  border-radius: var(--unified-border-radius);
}

button:hover {
  cursor: pointer;
}

input {
  background-color: var(--bg-color3);
}

input:focus {
  outline: 1px solid black;
}

/* >_ Styling Choices */
:root {
  /* >_ Color Choices */
  --color1: #0079d3;
  --color2: #ff4500;
  --color3: #46d160;
  --color4: #8d9092;
  --bg-color1: white;
  --bg-color2: #dae0e6;
  --bg-color3: #f6f7f8;
  --text-color1: #1c1c1c;
  --text-color2: #222222;
  --text-color3: #878a8c;
  --border-color1: #edeff1;
  --border-color2: #cccccc;
  /* Layout Choices */
  --header-height: 47px;
  --unified-border-radius: 4px;
}

/* >_ Unified Rules */
.center {
  margin: 0 auto;
}

.fill-screen-width {
  width: 100%;
}

.flex-diplay {
  display: flex;
}

.flex-vertical-center {
  align-items: center;
}

.flex-horizontal-center {
  justify-content: center;
}

.flex-column-direction {
 flex-direction: column;
}

.margin-center {
  margin: 0 auto;
}

.align-text-center {
  text-align: center;
  border: 1px solid black;
}
